body {
    background: lavenderblush;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-text {
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    text-transform: uppercase;
}

.App {
    font-family: sans-serif;
    font-size: 1rem;
}

.TimeboxEditor,
.TimeBoxCreator {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    text-align: right;

    &-wrapper {
        display: block;
        max-width: 100%;
        margin: 1rem 4rem 0 0;
        text-align: right;
    }

    &-wrapper__button {
        background: cadetblue;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        padding: 0.3rem 2rem;
    }

    &__input {
        max-width: 60%;
        font-size: 1rem;
        margin: 1rem 4rem 0 4rem;
        background: limegreen;
        padding: 0.5rem;
    }

    &__label {
        text-transform: uppercase;
    }
}

.TimeboxEditor-wrapper__button:hover,
.TimeBox__button:hover {
    background: limegreen;
}

.CurrentTimeBox {
    border: 1px solid grey;
    margin: 1rem;
    padding: 2rem;
    border-radius: 5px;
    text-align: center;

    &__text {
        text-transform: uppercase;
    }

    &__button {
        background: cadetblue;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 1rem;
        padding: 0.3rem 2rem;
    }
}

.ProgressBar {
    border: 1px solid grey;
    border-radius: 5px;
    height: 2rem;
    margin: 3rem;
    padding: 0.5rem;

    &__width {
        background: linear-gradient(to right, limegreen, green);
        height: 100%;
    }
}

.Timebox {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 2rem 0.5rem;
}

.clock {
    color: cadetblue;
}